
*{
    font-family: 'Peddana', serif;
    color: wheat
}
.mainBody{
    width: auto;
    height: auto;
    margin: 100px;
    background-color: rgb(26, 56, 26);
    position: relative;
    top: 100px;
}
body{
    background-image: url(./myImages/myAssets/wood.jpg);
}
.aboutMe{
padding-bottom: 5%;
border-bottom: thin sol;
border-width: 5%;
border-color: whitesmoke;
}
#me{
    height: 250px;
    width: auto;
    margin: auto;
    float: left;
    margin: 25px;
}
h1{
    text-align: center;
    margin: auto;
    color: wheat
    
}
p{
    color: wheat;
    margin: 25px;
}
.myImg{
    margin: 50px;
}
.submit{
    margin:20px;
    text-align: center;
    width: 500px
}